<div class="container-fluid">
  <div class="loader" *ngIf="!forecast; else forecastDetails">Loading</div>
  <ng-template #forecastDetails>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">5-day forecast for {{ forecast.city.name }}</h3>
      </div>
      <ul class="list-group">
        <!---->
        <li class="list-group-item">
          Monday, Mar 23: Rain - Min: 45 - Max: 59

          <img
            class="icon"
            src="https://www.angulartraining.com/images/weather/rain.png"
          />
        </li>
      </ul>
    </div>
  </ng-template>
  <button class="btn btn-success" tabindex="0" id="mainPageBtn" routerLink="/">
    &lt; Back to main page
  </button>
</div>
